body {
	background-color: black;

}

.container {
	height: 800px;
	max-width: 1024px;
	margin-top: 40px;
}

h1, h2 {
	font-family: 'Fredericka the Great', cursive;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.panel {
	padding: 10px;
	padding-left: 30px;
}

.button {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 10px;
	margin: auto;

}

#answers {
	margin: auto;
}